.add_text {
    float: left;
    margin: 5rem 10% 3rem;
    width: 70rem;
    height: 10rem;
}

.option {
    float: left;
    width: 100%;
    height: 2rem;
}

.selection {
    margin-top: 2rem;
    float: left;
    width: 100%;
    height: 2rem;
}